In [12]:
a=int(input("Input the number for factorial"))
fact=1
if a==0:
    print("Factorial=0")
else:
    for i in range(1,a+1):
        fact=fact*i
    print(f"factorial of number is: {fact}")

Input the number for factorial 87

factorial of number is: 2107757298379527717213600518699389595229783738061356212322972511214654115727593174080683423236414793504734471782400000000000000000000

In [13]:
a=int(input("Enetr the number for table"))
for i in range(1,11):
    print(f"{a}*{i}={a*i}")

Enetr the number for table 5

5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
5*10=50

In [4]:
a=20
x=0
y=1

for i in range(1,a):
    print(x+y)
    x,y=y,y+x

1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181
6765

In [20]:
x=int(input("Enter the number to check : "))
y=0
for i in str(x):
    y=y+(int(i))**3
if x==y:
    print("armstrong number")
else:
    print("Not an armstrong number")

Enter the number to check :  154

Not an armstrong number

In [46]:
x=int(input("enter the starting range to seek the armstrong number"))
y=int(input("Entetr the last number to till program will find the armstrong number"))
a=0
for i in range(x,y+1):
    a=a+(int(i))**3
    for num in str(i):
        num=num+(int(i))**3
if a==num:
    print(num,"armstrong numbers are")
else:
    print("NONE")

enter the starting range to seek the armstrong number 1
Entetr the last number to till program will find the armstrong number 1000

TypeError: can only concatenate str (not "int") to str

In [51]:
a=int(input("Enter the last number"))
total=0
while(a>0):
    total=total+a
    a=a-1
print("total= ",total)

Enter the last number 100

total=  5050